<p style="color: green"><%= notice %></p>

<div class="text-end">
  <%= link_to "New group", new_group_path, class: "btn btn-primary" %>
</div>
<h1>Groups</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>
