<p style="color: green"><%= notice %></p>

<h1 class="text-center text-primary">Groups</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
  <div class="text-center">
  <%= link_to "New group", new_group_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
</div>
